*{box-sizing: border-box;
    color: rgb(0, 0, 0);
}
.container{
    width: 960px;
    height: 800px;
    border: 6px solid red;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* align-content: space-between; */
    align-content: center;
}
.item{
    flex-basis:300px;
    height: 300px;
    border: 2px solid black;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
    overflow:hidden;
    padding-top: 30px;
    padding-left: 30px;
    
}
.item1{
    background-color: rosybrown;
}
.item2{
background-color: rgb(236, 184, 147);
}

.item3{
background-color: skyblue;
}
.item4{
    background-color: rgb(238, 68, 68);
    }
.item5{
    background-color: rgb(212, 219, 241);
    }
.item6{
    background-color: rgb(31, 156, 73);
    }