.form-box{
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px gray;
    padding: 10px;
    font-weight: 500;
    font-size: bold;
    color:darkblue;
    background-color: linen;

}


.form-header{
    color:darkblue;
    background-color: lightpink;
    padding: 15px 15px;
    border-radius: 8px;

}

.form-header-title{
    font-style: 24px;
    margin: 0;
}
body{
    margin: 0;
    font-family:'Microsoft JhengHei';
}

.form-body{
padding: 20px 20px;
}
.form-group{
    margin-bottom: 15px;
    margin-top: 10px;
}
.form-email{
    margin-bottom: 15px;
    margin-top: 10px;
    width: 40%;
}
.form-b{
    margin-bottom: 15px;
    margin-top: 10px;
}

.form-control{
display: block;
width: 100%;
/* height: 300px; */
padding: 12px 12px;
font-style: 16px;
line-height: 1.5;
color: #000;
background-color: lightgrey;
border: 1px solid black;
border-radius: 6px;
margin-top: 6px;
}

.submit-btn{
    background-color: lightpink;
    color:darkblue;
border: 1px solid black;
padding: 10px 20px;
font-size: 16px;
border-radius: 6px;

}